@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-primary-light: #60A5FA;
  --color-primary-dark: #2563EB;

  --color-background: #F8FAFC;
  --color-surface: #FFFFFF;

  --color-text-main: #1E293B;
  --color-text-muted: #64748B;

  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  --breakpoint-xs: 480px;
}

@layer base {
  body {
    @apply bg-background text-text-main font-sans antialiased m-0 p-0;
  }
}